/*General styles*/
body {
  background: #f3f5fc;
}
/*Styles header - Title animation*/
header {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  display: flex;
  width: 100vw;
  height: 5vh;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #0a3871;
  font-weight: bold;
  font-size: 20pt;
}
.logo-aplication {
  width: 80px;
  height: 30px;
  margin-right: 25vw;
}

.logo-aplication:hover,
.footer-img:hover,
.delete-icon:hover {
  animation-name: rotateImagen;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateImagen {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header span {
  display: block;
  white-space: nowrap;
  width: 100%;
  animation: typing 5s steps(50);
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

/*Styles Main - Central content of aplication*/
main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*Styles generals Divs ubication*/
.vertical-ubication {
  display: flex;
  flex-direction: column;
}
.horizontal-ubication,
.buttons_container {
  display: flex;
  flex-direction: row;
}
/*Encrypt styles - Left section*/
.encrypt-section {
  width: 65vw;
  height: 80vh;
  background: #f3f5fc;
}
.delete-icon {
  margin-left: 50vw;
  margin-top: 5vh;
  width: 25px;
  height: 25px;
}
.message-encrypter {
  background: transparent;
  border: none;
  resize: none;
  margin: 5vw 10vw;
  height: 35vh;
  width: 40vw;
  font-family: "Inter", sans-serif;
  color: #0a3871;
  font-size: 16pt;
  line-height: 30px;
}

.message-encrypter:focus {
  outline: none;
}
.message-encrypter::placeholder {
  font-family: "Inter", sans-serif;
  color: #0a3871;
  font-size: 16pt;
}
.encrypt-section .horizontal-ubication,
.buttons_container {
  margin: 0px 40vw 1vh 10vw;
  width: 70vw;
}
.instructions-message {
  margin-left: 10px;
  font-family: "Inter", sans-serif;
  color: #495057;
  font-size: 10pt;
}
.encrypt-button {
  width: 20vw;
  height: 50px;
  border-radius: 17px;
  background: #0a3871;
  color: #ffffff;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 12pt;
}
.encrypt-button:hover,
.decrypt-button:hover,
.copy-button:hover,
.delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.decrypt-button,
.copy-button {
  margin-left: 3vw;
  width: 20vw;
  height: 50px;
  border-radius: 17px;
  background: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  font-family: "Inter", sans-serif;
  font-size: 12pt;
}

/*Decrypt styles - Rigth section*/
.decrypt-section {
  display: flex;
  flex-direction: column;
  /*background: #f3f5fc;*/
  width: 35vw;
  height: 80vh;
}
.central-panel {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 75vh;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin-left: 4%;
  margin-top: 4%;
  box-shadow: -1px 2px 22px -3px rgba(0, 0, 0, 0.38);
}

.result-imagen {
  margin-top: 20%;
  margin-left: 15%;
  width: 70%;
  height: 40vh;
}
.title-result {
  margin-top: 25px;
  padding-right: 5vw;
  padding-left: 5vw;
  line-height: 20pt;
  font-family: "Inter", sans-serif;
  font-size: 15pt;
  font-weight: bold;
  animation-name: beats;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes beats {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  to {
    transform: none;
  }
}

.information-result {
  margin-top: 25px;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 5vw;
  line-height: 15pt;
  font-family: "Inter", sans-serif;
  font-size: 12pt;
}

/*Result styles*/

.result-section {
  display: none;
  flex-direction: column;
  /*background: #f3f5fc;*/
  width: 35vw;
  height: 80vh;
}

.result-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10vh;
  font-family: "Inter", sans-serif;
  width: 25vw;
  height: 55vh;
  line-height: 25px;
  font-size: 14pt;
  color: #495057;
}

/*Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal-show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.5s 0.5s;
}

.modal-container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal-title {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #0a3871;
  font-size: 16pt;
}

.modal-message {
  width: 40vw;
  text-align: center;
  line-height: 25px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  color: #0a3871;
  font-size: 12pt;
}

.modal-img {
  width: 5vw;
}

.modal-close {
  font-family: "Inter", sans-serif;
  font-size: 11pt;
  text-decoration: none;
  color: #fff;
  background-color: #f26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s;
}

.modal-close:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*Footer styles*/
footer {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background: #0a3871;
}

.footer-img {
  margin-left: 2vw;
  width: 2vw;
  height: 2vw;
}
.copyright_text {
  color: #ffffff;
  margin-left: 25vw;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 12pt;
}

/*Tablet Styles - <770px*/
@media (max-width: 770px) {
  main {
    flex-direction: column;
  }

  header {
    font-size: 20pt;
  }
  .logo-aplication {
    height: 20px;
    width: 60px;
    margin-right: 0;
  }
  .encrypt-section {
    width: 100%;
    height: 90vh;
  }
  .logo-alura {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .message-encrypter,
  .encrypt-section .horizontal-ubication,
  .buttons_container {
    margin-left: 10%;
    width: 80%;
  }
  .encrypt-button,
  .decrypt-button {
    width: 50%;
  }
  .decrypt-section,
  .result-section {
    width: 100%;
  }
  .central-panel {
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 5vh;
    height: 15vh;
    padding-bottom: 5vh;
  }
  .result-section .central-panel {
    height: 40vh;
  }
  .result-text {
    width: 80%;
    margin-left: 10%;
    height: 25vh;
    text-align: left;
  }
  .copy-button {
    align-self: center;
    width: 50%;
  }
  .result-imagen {
    display: none;
  }

  .copyright_text {
    width: 60vw;
    font-size: 10pt;
    margin-left: 5vw;
  }

  .footer-img {
    margin-left: 30px;
    width: 30px;
    height: 30px;
  }

  .delete-icon {
    margin-left: 85vw;
    margin-bottom: 1vh;
  }
}

/*Styles Ipad pro height > 1024*/

@media (min-height: 1024px){
  header {
    font-size: 35pt;
  }

  .logo-aplication {
    height: 5vw;
    width: 15vw;
    margin: 0;
  }

  .copyright_text {
    margin-left: 5vw;
    font-size: 15pt;
  }

  .decrypt-section,
  .result-section {
    margin-top: 2vh;
  }
  .result-imagen {
    margin-top: 15vh;
    margin-bottom: 1vh;
    height: 25vh;
    width: 20vw;
  }

  .message-encrypter {
    height: 55vh;
    margin-top: 5vh;
  }
}

/*Tablet Styles - <770px*/
@media (max-width: 375px) {
  header {
    font-size: 12pt;
    height: 4vh;
  }

  .message-encrypter,
  .message-encrypter::placeholder {
    font-size: 12pt;
  }
  .delete-icon {
    height: 20px;
    width: 20px;
  }

  .buttons_container {
    margin-top: 5vh;
  }

  .message-encrypter .logo-aplication {
    height: 20px;
    width: 60px;
    margin-right: 0;
  }

  .buttons_container {
    background: transparent;
    align-items: center;
    height: 25vh;
    flex-direction: column;
  }

  .decrypt-button {
    margin-left: 0px;
    margin-top: 10px;
  }

  .decrypt-section,
  .result-section {
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .central-panel {
    height: 25vh;
    margin-bottom: 5vh;
  }

  .copyright_text {
    width: 65vw;
    line-height: 3vh;
    font-size: 8pt;
    margin-left: 5vw;
  }

  .footer-img {
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }

  .delete-icon {
    margin-left: 85vw;
    margin-bottom: 1vh;
  }
}
